1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [1]:
a=15
b=4
print(a)
print(b)

15
4

In [3]:
#Sum
sum=a+b
sum

19

In [5]:
#difference
diff=a-b
diff

11

In [6]:
#Product
Prod=a*b
Prod

60

In [7]:
#Division
div=a/b
div

3.75

In [8]:
#Floor Division
FDiv=a//b
FDiv

3

In [9]:
#Modulus
Mod=a%b
Mod

3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [10]:
num1=10
num2=5.6
num3=4.43
print(num1)
print(num2)
print(num3)

10
5.6
4.43

In [13]:
#Intger to Float
flt=float(num1)
flt

10.0

In [15]:
#Float to Integer
Inte=int(num2)
Inte

5

In [16]:
#Float to String
Strng=str(num3)
Strng

'4.43'

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [22]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
fruits

['apple', 'banana', 'cherry', 'coconut', 'pineapple', 'mango', 'orange']

In [23]:
#The first fruit
first_fruit=fruits[0]
first_fruit

'apple'

In [24]:
#The last fruit
last_fruit=fruits[-1]
last_fruit

'orange'

In [25]:
#The fourth fruit
fourth_fruit=fruits[3]
fourth_fruit

'coconut'

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [26]:
numbers = [10,20,30,40,50]
numbers

[10, 20, 30, 40, 50]

In [27]:
#first three elements
first_three_elements=numbers[:3]
first_three_elements

[10, 20, 30]

In [28]:
#last two elements
last_two_elements=numbers[3:]
last_two_elements

[40, 50]

In [29]:
#print all the elements except the first one
all_elements_except_the_first_one=numbers[1:]
all_elements_except_the_first_one

[20, 30, 40, 50]

In [30]:
#print all the elements except the last one
all_elements_except_the_last_one=numbers[:4]
all_elements_except_the_last_one

[10, 20, 30, 40]

In [31]:
#Print the list in reverse using slicing
list_in_reverse_using_slicing=numbers[::-1]
list_in_reverse_using_slicing

[50, 40, 30, 20, 10]

In [32]:
#Print every second element
every_second_element=numbers[1:5:2]
every_second_element

[20, 40]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [33]:
nums = [1,2,3]
nums

[1, 2, 3]

In [34]:
#add 10 to the end of the list (append method)
nums.append(10)
nums

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [35]:
nums = [1,2,3]
nums

[1, 2, 3]

In [36]:
#insert 99 at index 1 (insert method)
nums.insert(1,99)
nums

[1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [46]:
num1 = [1,2,3]
num2 = [4,5]

In [47]:
#add the element of another list to the original list (extend method)
num1.extend(num2)
num1

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [48]:
nums = [4,1,3,2]
nums

[4, 1, 3, 2]

In [50]:
#list the elements in ascending order (sort method)
nums.sort()
nums

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [51]:
order = ["burger", "fries", "coke"]
order

['burger', 'fries', 'coke']

In [52]:
#Add a new item "ice cream" (append method)
order.append("ice cream")
order

['burger', 'fries', 'coke', 'ice cream']

In [53]:
#Remove an item "biryani" (remove method)
order.append("biryani")
order

['burger', 'fries', 'coke', 'ice cream', 'biryani']

In [54]:
order.remove("biryani")
order

['burger', 'fries', 'coke', 'ice cream']

In [55]:
#Show the final order
order

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [56]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers

['Ali', 'Zara', 'Ahmed']

In [58]:
#insert a new passenger "Sara" at position 2 (insert method)
passengers.insert(1,"Sara")
passengers

['Ali', 'Sara', 'Zara', 'Ahmed']

In [59]:
#remove passenger who got off "Zara" 
passengers.remove("Zara")
passengers

['Ali', 'Sara', 'Ahmed']

In [60]:
#reverse the order to show who entered first (reverse method)
passengers.reverse()
passengers

['Ahmed', 'Sara', 'Ali']