1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

In [1]:
def add_numbers(x,y):
    return x + y
result = add_numbers(10,45)
print("The sum is:",result)

The sum is: 55

2. Create a Python function called currency_converter() that takes two arguments:

- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.

The function should return a message showing how much the given amount is worth in the target currency (PKR).

In [3]:
def currency_converter(amount,exchange_rate=280):
    converted_amount=amount*exchange_rate
    return f"${amount} USD is equal to {converted_amount} PKR at the rate of {exchange_rate}."
message=currency_converter(20)
print(message)

$20 USD is equal to 5600 PKR at the rate of 280.

3. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.

In [4]:
def display_student_info(*,name,age,grade,school):
    print(f"Name:{name}")
    print(f"Age:{age}")
    print(f"Grade:{grade}")
    print(f"School:{school}")
display_student_info(name="Akbar",age=17,grade="9th",school="Modern Public School")

Name:Akbar
Age:17
Grade:9th
School:Modern Public School

4. Write a Python function calculate_price that accepts two positional arguments:

- price: The price of a single item.
- quantity: The number of items bought.
- The function should return the total price by multiplying price and quantity.

In [5]:
def calculate_price(price,quantity):
    return price * quantity
total=calculate_price(200,15)
print("Total price:",total)

Total price: 3000

5. Write a Python function display_prices that takes a product name and an arbitrary number of keyword arguments representing product prices. The function should display each product and its price.

Product: Laptop

Amazon: $800

eBay: $750

Walmart: $780

In [8]:
def display_prices(product,**prices):
    print(f"Product: {product}")
    for seller, price in prices.items():
        print(f"{seller}: ${price}")
display_prices(
    "Laptop",
    Amazon=800,
    eBay=750,
    Walmart=780
)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

6. Write a Python function find_max that takes any number of numerical arguments and returns the maximum number.

In [9]:
def find_max(*numbers):
    if not numbers:
        return "No number provided."
    return max(numbers)
result = find_max(12,74,82,91,62,55,10)
print("The maximum number is:",result)

The maximum number is: 91

7. Write a Python function display_info that takes:
Positional arguments for the name and age of a person.
Keyword arguments for other personal details like address, phone number, and email.
Example Output:

- Name: Alice
- Age: 30
- Other Details:
    - address: 123 Main St
    - phone: 123-456-7890
    - email: alice@example.com

In [10]:
def display_info(name,age,**other_details):
    print(f"-Name: {name}")
    print(f"-Age: {age}")
    print(f"-Other Details:")
    for key, value in other_details.items():
        print(f" -{key}:{value}")
display_info(
    "Alice",30,
    address="123 Main St",
    phone="123-456-7890",
    email="alice@example.com"
)

-Name: Alice
-Age: 30
-Other Details:
 -address:123 Main St
 -phone:123-456-7890
 -email:alice@example.com

8. products = [ {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1}, {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05}, {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2}, {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0}, {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15} ]

- Get names of in-stock products:

*Use list comprehension to generate a list of names for the products that are in stock.

- Calculate final prices for in-stock products after discount:

*For products that have a discount, calculate the final price by applying the discount.

*For products with no discount, keep the original price.

- Generate a list of tuples with the product name and its final price.

Example Output:

- In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
- Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

In [11]:
products = [
    {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1},
    {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05},
    {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2},
    {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0},
    {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15}
]
#Get names of in-stock products
in_stock_names = [product["name"] for product in products if product["in_stock"]]

#Calculate final prices for in-stock products after discount
discounted_prices = [
    (
        product["name"],
        round(product["price"] * (1 - product["discount"]), 2)
    )
    for product in products if product["in_stock"]
]
print("In-stock product names:", in_stock_names)
print("Discounted prices:", discounted_prices)

In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

9.Create a list of even numbers between 1 and 20. (List Comprehension)

In [12]:
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("Even numbers between 1 and 20:", even_numbers)

Even numbers between 1 and 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

10. Create a list of numbers, generate a new list containing only the numbers that are divisible by 3 or 5. (List Comprehension)

In [13]:
# list of numbers
numbers = list(range(1, 51)) 
# List comprehension to filter numbers divisible by 3 or 5
divisible_by_3_or_5 = [num for num in numbers if num % 3 == 0 or num % 5 == 0]
print("Numbers divisible by 3 or 5:", divisible_by_3_or_5)

Numbers divisible by 3 or 5: [3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50]