In [1]:
a=15
b=4

In [2]:
a+b

19

In [3]:
a-b

11

In [4]:
a*b

60

Convert the following: (num1 = 10,num2 = 5.6,num3 = 4.43)

In [1]:
num1 = 10
float(num1)

10.0

In [3]:
num2 = 5.6
num3 = 4.43
int(num2)

5

In [4]:
int(num3)

4

In [5]:
float.toStrinng(num2)

AttributeError: type object 'float' has no attribute 'toStrinng'

In [6]:
str(num2)

'5.6'

In [7]:
str(num3)

'4.43'

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [8]:
fruits = ["apple","banana","cherry","coconut","pineapple","mango","orange"]

In [9]:
fruits

['apple', 'banana', 'cherry', 'coconut', 'pineapple', 'mango', 'orange']

In [10]:
print(fruits[0])

apple

In [12]:
print(fruits[-1])

orange

In [13]:
print(fruits[3])

coconut

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [14]:
numbers = [10,20,30,40,50]

In [15]:
numbers

[10, 20, 30, 40, 50]

In [16]:
print(numbers[:3])

[10, 20, 30]

In [17]:
print(numbers[3:])

[40, 50]

In [22]:
print(numbers[1:])

[20, 30, 40, 50]

In [24]:
print(numbers[:4])

[10, 20, 30, 40]

In [25]:
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [27]:
print(numbers[::2])

[10, 30, 50]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [28]:
nums = [1,2,3]

In [30]:
nums

[1, 2, 3]

In [31]:
nums.append(10)

In [32]:
print(nums)

[1, 2, 3, 10]

In [33]:
6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

SyntaxError: invalid syntax (133009144.py, line 1)

In [34]:
nums

[1, 2, 3, 10]

In [35]:
nums.insert(1,99)

In [36]:
print(nums)

[1, 99, 2, 3, 10]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [37]:
nums = [1,2,3]

In [38]:
nums

[1, 2, 3]

In [39]:
nums.extend([4,5])

In [40]:
print(nums)

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [41]:
nums = [4,1,3,2]

In [42]:
nums

[4, 1, 3, 2]

In [43]:
nums.sort()

In [44]:
print(nums)

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [45]:
order = ["burger","fries","coke"]

In [46]:
order

['burger', 'fries', 'coke']

In [47]:
order.append("ice cream")

In [48]:
print(order)

['burger', 'fries', 'coke', 'ice cream']

In [49]:
order = ['burger', 'fries', 'coke', 'ice cream','biryani']

In [50]:
order

['burger', 'fries', 'coke', 'ice cream', 'biryani']

In [52]:
order.remove('biryani')

In [53]:
order

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [54]:
passengers = ["Ali","Zara","Ahmed"]

In [55]:
passengers

['Ali', 'Zara', 'Ahmed']

In [58]:
passengers.insert(1,"Sara")

In [57]:
passengers

['Ali', 'Zara', 'Sara', 'Ahmed']

In [59]:
passengers

['Ali', 'Sara', 'Zara', 'Sara', 'Ahmed']

In [60]:
passengers

['Ali', 'Sara', 'Zara', 'Sara', 'Ahmed']

In [61]:
passengers.remove('Zara')

In [62]:
passengers

['Ali', 'Sara', 'Sara', 'Ahmed']

In [65]:
passengers.remove('Sara')

In [66]:
passengers

['Ali', 'Sara', 'Ahmed']

In [67]:
passengers.reverse()

In [68]:
passengers

['Ahmed', 'Sara', 'Ali']